header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
header{
  padding: 30px 0;
}
header .container img{
  width: 300px;
}
nav ul{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}
a{
  text-decoration: none;
  color: black;
}
button{
  width: 140px;
  height: 60px;
  font-size: 18px;
  background-color: green;
  color: white;
}
.hero{
  padding: 30px 0;
  background-color: rgb(255, 246, 246);
}
.hero .container{
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
h1{
  font-size: 40px;
  width: 519px;
  padding: 10px;
  color: gray;
}
span{
  color: green;
}
p{
  padding: 10px 10px 20px 10px;
}
.hero-img img{
  width: 400px;
}
.heros{
  padding: 30px 0;
}
.imgs{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.clients img{
  width: 150px;
  height: 150px;
}
.texts{
  text-align: center;
}
h2{
  font-size: 40px;
  color: gray;
}
.ota{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.card{
  width: 400px;
  height: 400px;
   text-align: center;
}
h4{
  font-size: 25px;
}
.card img{
  width: 100px;
  height: 100px;
}
.card p{
  font-size: 10px;
  width: 280px;
  height: 200px;
  padding-left: 105px;
}
h3{
  text-align: center;
  font-size: 30px;
  color: gray;
}